<!DOCTYPE html>
<html>

<head>
    <title>i' wonder</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <!-- Make site responsive on mobile/tablet -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbare"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">YelpCamp</a>

            </div>
            <div class="collapse navbar-collapse" id="navbare">
                <ul class="nav navbar-nav navbar-left">
                    <li class="<%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>"><a
                            href="/camps">Camps</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <% if(!currentUser){ %>
                        <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a
                            href="/login">Login</a></li>
  
                        <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a
                            href="/register">Register</a></li>
                    <% }else{ %>
                        <li><a href="#">Signed in as <%= currentUser.username %></a></li>
                        <li><a href="/logout">Logout</a></li>
                    <% } %>

                </ul>
            </div>
        </div>
    </nav>
    <a href="/notes"><i class="fa fa-sticky-note"></i></i></a>
    <div class="container">
        <% if(error && error.length > 0 ){ %>

        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>

        <% } %>

        <% if(success && success.length > 0 ){ %>

        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>

        <% } %>
    </div>
    <div class="container">